.create_user{
  padding: 50px;
  background: #ccc;
  position: fixed; top: 50%; left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 20%;
}

#email {
width: 100%;
}

#password {
width: 100%;
}

#status {
width: 100%;
}

#role {
width: 100%;
}

form input {
  display: block;
  margin-left: auto;
  margin-right: auto;
}