a {
  text-decoration: none;
  color: #555;
}

#page {
  background: #fafafa;
}

#content {
  clear: both;
  padding-top: 0.5em;
  margin-left: 5%;
  margin-right: 5%;
}

nav a {
  color: #fff;
}

/* Important stuff */
ul.menu {
  padding: 0;
  width: 100%;
  margin: auto;
}
ul.menu li {
  list-style-type: none;
  display: block;
  float: left;
  background: #464646;
  margin: 0;
  padding: 0.5em 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Fixes Firefox bug */
  box-sizing: border-box;
  width: 20%;
  text-align: center;
}

ul.menu li:hover {
  background: #787878
}

ul.menu li a {
  display: block;
}


